<div class="flex-shrink-0 py-3 bg-seconadry mx-4 my-4 h-100" style="width:150px;">
	<a href="" class="dflex align-items-center pb-3 mb-3 link-dark text-decoration-none">
		<span class="fs-5 fw-semibold text-white">Sous menu</span>
	</a>
	<ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
		<li class="nav-item">
			<a class="nav-link text-white" href="{{path('blog_app_blog')}}">Blog</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Mon Profil
			</a>
			<ul class="dropdown-menu  text-white" aria-labelledby="navbarDropdown">
				<li>
					<a class="dropdown-item " href="#">Action</a>
				</li>
				<li>
					<a class="dropdown-item" href="#">Another action</a>
				</li>
				<li><hr class="dropdown-divider"></li>
				<li>
					<a class="dropdown-item" href="#">Something else here</a>
				</li>
			</ul>

		</li>
		<li class="nav-item ">
			<a class="nav-link text-white" href="#">Mes Publications</a>
		</li>
		<li><hr class="dropdown-divider"></li>
		<li class="nav-item">
			<a class="nav-link text-white" href="#">Mes Commentaires</a>
		</li>
	</ul>
</div>
